// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif
html
	font-size: 62.5%
body
	+pt-sans
	+pt-reg
	font-size: 1.4rem
	line-height: 1.4
	
// common blocks
.is-open-sidebar
	.main,
	.header
		transform: translateX(26rem)
	.sidebar
		transform: translateX(0)
.out
	overflow: hidden
.main
	+tr(transform .3s)
a
	text-decoration: none
.container-fluid
	max-width: 1200px
	overflow: hidden
.ps-container
	position: relative
	padding-bottom: 4rem
	+r($sm)
		padding-bottom: 3rem
	> .ps-scrollbar-x-rail
		height: 7px
		border-radius: 0
		background: #ededed 
		> .ps-scrollbar-x
			height: 7px
			border-radius: 0
			background: $main 
	> .ps-scrollbar-y-rail
		width: 7px
		border-radius: 0
		background: #ededed 
		> .ps-scrollbar-y
			width: 7px
			border-radius: 0
			background: $main
	&.ps-active-x 
		> .ps-scrollbar-x-rail
			display: block
			opacity: 1
			background: #ededed 
	&.ps-active-y 
		> .ps-scrollbar-y-rail
			display: block
			opacity: 1
			background: #ededed 
.row
	&_inline
		white-space: nowrap
		font-size: 0
		> div
			float: none
			display: inline-block
			vertical-align: top
			
.btn
	display: inline-block
	border: 2px solid $second
	padding: 1.6rem 2.7rem 1.4rem
	background: none
	color: #fff 
	+bold
	text-transform: uppercase
	line-height: 1
	font-size: 1.2rem
	border-radius: 4.6rem 
	transition: background, border, .3s
	+r($sm)
		padding: 1.4rem 2rem 1.2rem
		font-size: 1.1rem 
	&:hover
		background: $second
	&_fluid 
		display: block
		width: 100%
		padding-left: 1rem
		padding-right: 1rem
		text-align: center
	&_second
		background: $second
		color: #fff
		&:hover
			background: $btn-hover
			border-color: $btn-hover 
		&:active
			background: darken($btn-hover,5%)
			border-color: darken($btn-hover,5%) 
	&_big
		padding: 1.9rem 2.7rem 
		border-radius: 5.4rem 
	&_main
		border-color: $main
		&:hover
			border-color: $second 
			background: none
		&.btn_filled
			background: $main
			color: #fff  
			&:hover
				background: $second
	&_width
		padding-left: 5rem
		padding-right: 5rem
.logo
	+hide-text
.section
	padding: 4rem 0
	+r($sm)
		padding: 3rem 0 
	&:last-child	
		padding-bottom: 0
	&_light
		background: $light 
.title
	margin-bottom: 2.8rem
	font-size: 3.5rem
	text-transform: uppercase
	+bold
	text-align: center
	color: $title 
	+r($md)
		font-size: 3rem
	+r($sm)
		font-size: 2.5rem
	&_main
		margin-bottom: 2rem
		font-size: 4.5rem
		+r($md)
			font-size: 4rem
		+r($sm)
			font-size: 3rem
	&_small
		font-size: 3rem
		+r($md)
			font-size: 2.5rem
		+r($sm)
			font-size: 1.8rem
	&_second
		color: $second 
.list-numeric
	list-style-type: decimal 
	margin-left: 1.5rem
	li
		margin-bottom: 1.3rem
.mobile
	.input
		input
			font-size: 1.6rem
	.textarea
		textarea
			font-size: 1.6rem
.input
	width: 100%
	margin: 1rem 0 
	input
		padding: 0 2.2rem
		width: 100%
		background: #fff
		height: 4.6rem
		font-size: 1.2rem
		color: #000 
		text-align-last: auto
		+reg 
		+placeholder
			transition: opacity .2s
			color: $text
		&:focus
			+placeholder
				visibility: hidden
				opacity: 0
.textarea
	width: 100%
	margin: .5rem 0 
	height: 11.3rem 
	textarea
		padding: 1.8rem 2.2rem 
		height: 100%
		width: 100%
		border: none
		resize: none
		color: $text
		text-align-last: auto
		font-size: 1.2rem
		+reg 
		+placeholder
			transition: opacity .2s
			color: $text
		&:focus
			+placeholder
				visibility: hidden
				opacity: 0