.header
	position: fixed
	padding: 2.2rem 0
	left: 0
	right: 0
	top: 0
	z-index: 10
	background: $title 
	+tr(transform .3s)
	+r($md)
		padding: .7rem 0 .6rem
	&__nav
		position: relative
		z-index: 2
		margin-left: -1.5rem
		font-size: 1.5rem
		+bold
		white-space: nowrap
		+r($lg)
			margin-left: -0.5rem
		+r($md)
			display: none
		a
			display: inline-block
			padding: 1.3rem 1.5rem 1.2rem
			vertical-align: middle
			color: #fff
			+tr(color .3s)
			+r($lg)
				padding-left: .5rem 
				padding-right: .5rem 
			&:hover, 
			&.is-active
				color: $second
	&__info
		text-align: right
		.tel
			display: inline-block
			vertical-align: middle
		.btn
			margin-right: 9%
			vertical-align: middle
			+r($md)
				display: none
.btn-nav
	display: none
	position: absolute
	left: 0
	top: 50%
	margin-top: -2.5rem
	width: 5rem
	height: 5rem
	background: none
	+hide-text
	text-align: center
	+r($md)
		display: block
	&:hover
		i
			&:before,
			&:after
				will-change: transform
	i
		position: relative
		display: inline-block
		vertical-align: middle
		width: 2.5rem
		height: 2px
		background: #fff 
		&:before,
		&:after
			content: ""
			position: absolute
			left: 0
			width: 100%
			height: 2px
			background: #fff
			transform-origin: right
			+tr(transform .3s)
		&:before
			top: -0.9rem
		&:after
			top: 0.9rem
	&.is-active
		i
			background: none
			&:before
				transform: translateX(-4px) rotate(-45deg) 
			&:after
				transform: translateX(-4px) rotate(45deg) 
.tel
	span
		display: block
		color: #fff
		font-size: 1.3rem
		+reg
		+r($md)
			font-size: 1.2rem
	a
		color: $second
		font-size: 1.8rem
		+bold
		+r($md)
			font-size: 1.5rem