
.slider
	position: relative
	color: #fff 
	.logo
		margin-bottom: 6%
		+r($lg)
			margin-bottom: 2rem
	.slick-slide
		position: relative
		height: 100vh
		min-height: 540px
		+vertical
	&__vertical
		position: relative
		z-index: 2
		display: inline-block
		width: 100%
		vertical-align: middle
		padding: 11rem 0 4rem
		+r($md)
			padding: 0 0 4rem
		+r($sm)
			padding: 4rem 0 0
	&__info
		position: relative
		z-index: 2
		text-align: center 
		
		img
			margin: 0 auto 
	&__text
		margin: 0 auto 3.5%
		max-width: 75%
		font-size: 1.6rem
		line-height: 2
		+pt-bold
		+r($lg)
			margin-bottom: 2rem
		+r($sm)
			max-width: 100%
			line-height: 1.4
	.slider__bg
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		overflow: hidden
		img
			display: block
			position: absolute
			left: 50%
			top: 50%
			transform: translate3d(-50%, -50%, 0)
			min-width: 100%
			min-height: 100%
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			z-index: 2
			background: rgba(#000, .4)  
	.slick-arrow
		top: 0
		bottom: 0
		width: 17.5rem
		+r($lg)
			width: 10rem
		+r($md)
			display: none !important
		&:before
			color: #fff 
			font-size: 2.7rem
	.btn
		+r($md)
			display: none
.promo-wrap
	margin-top: 6%
	+rh(720)
		display: none
.promo
	position: relative
	text-align: center
	+r($md)
		margin-top: 7.3rem
	+r($sm)
		display: none
	&:first-child
		&:before
			display: none
	&:last-child
		&:before
			content: "="
			+r(991)
				left: 50%
				margin-left: -1.3rem
				top: -6.5rem
				transform: rotate(90deg)
	&:nth-child(3)
		&:before
			+r(991)
				left: 50%
				margin-left: -1.3rem
				top: -6.5rem
	&:before
		content: "+"
		position: absolute
		top: 3rem
		left: -9%
		font-size: 5rem
		line-height: 1
		+pt-bold
		+r($md)
			left: -4%
	&__icon
		display: block
		margin: 0 auto 2rem
		width: 9.6rem
		height: 9.6rem
		text-align: center
		line-height: 9.6rem
		background: #fff
		color: $main 
		i
			vertical-align: middle
		+circle
		.icon-house
			font-size: 4.7rem
		.icon-quality
			font-size: 5.7rem
		.icon-key
			font-size: 2.8rem
		.icon-flats
			font-size: 5.5rem
	&__text
		font-size: 1.5rem
		+pt-bold
		line-height: 1.2
		text-align: center
.slick-dots
	position: absolute
	bottom: 2.4rem
	left: 0
	right: 0
	text-align: center
	line-height: 1
	+r($lg)
		bottom: 1.5rem
	li
		display: inline-block
		vertical-align: middle
		padding: .4rem 
		&.slick-active
			button
				background: $main 
	button
		vertical-align: middle
		width: 0.9rem
		height: 0.9rem
		+circle
		background: #fff 
		+hide-text

.slick-arrow
	position: absolute
	top: 50%
	+hide-text
	z-index: 3
	text-align: center
	background: none
	&:before
		vertical-align: middle 
		+icon
		font-size: 3rem
		+tr(color .3s)
	&:hover
		&:before
			color: $second 
.slick-prev
	left: 0
	&:before
		content: $icon-prev
.slick-next
	right: 0
	&:before
		content: $icon-next
.obj-wrap
	margin-top: -2rem
	+r($sm)
		margin: -1rem -1rem 0 
.obj
	position: relative
	margin: 2rem 0 0 
	padding: 27% 0
	color: #fff 
	overflow: hidden
	+r($md)
		padding: 32% 0 
	+r($sm)
		padding: 25% 0 
		margin: 1rem 0 0 
	+r($xs)
		padding: 32% 0 
	&__in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 3.3rem 4rem 4rem
		background: $main 
		+r($sm)
			padding: 3rem 1.3rem 
	&__title
		position: relative
		z-index: 2
		font-size: 5rem
		line-height: 1.1
		+reg
		+r($md)
			font-size: 4rem
		strong
			display: block
			+bold
			font-size: 3.5rem
			+r($md)
				font-size: 2.5rem
	&__number
		position: absolute
		bottom: -49%
		right: 0
		font-size: 40rem
		+bold
		z-index: 1
		line-height: 1
		+r(1150)
			bottom: -35%
			font-size: 25rem
		+r($md)	
			bottom: -30%
			font-size: 20rem
			color: #81a5f4 
		+r($sm)
			bottom: -40%
			font-size: 40rem
		+r($xs)
			bottom: -35%
			font-size: 25rem
	.btn
		position: absolute
		left: 4rem
		bottom: 4rem
		z-index: 2
		+r($sm)
			left: 1.3rem
			bottom: 2rem
		+r($xxs)
			display: block
			right: 1.3rem
			text-align: center  
.obj_special
	.obj__number
		right: -17%
.obj_extend
	+cover
	padding: 0 !important
		
	.obj__in
		position: static
		padding-bottom: 10rem
		min-height: 34.5rem
		background: rgba(#3d4046, .92)
		+r(1200)
			padding-bottom: 4rem
		+r($sm)
			padding-bottom: 3rem
			min-height: 10rem
	.obj__action
		position: absolute
		bottom: 4rem
		left: 4rem
		right: 4rem
		white-space: nowrap
		+r(1200)
			position: static
			margin-top: 3rem
		+r(1100)
			white-space: normal
		+r($sm)
			margin-top: 2rem
		.btn
			position: static
			margin-right: 1rem
			&:last-child
				margin-right: 0
			+r(1100)
				margin-top: 1rem
			+r($xs)
				min-width: 20.5rem
				text-align: center
			+r($xxs)
				display: inline-block
	.title
		text-align: left
		+r(1200)
			font-size: 1.8rem
.map
	position: relative
	width: 100%
	overflow: hidden
	&__in
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
		z-index: 0
		+r($sm)
			position: static
			height: 32.5rem 
		img
			width: 100%
			height: auto
.logo
	img
		+r($sm)
			width: 145px
			height: auto
.feedback
	position: relative
	z-index: 2
	background: $main
	font-size: 0
	+r($sm)
		margin: 0 -1rem 
	&__top
		padding: 2.3rem 3rem 2.6rem
		border-bottom: 1px solid #fff
		+r($sm)
			padding: 2rem 1.3rem 
	&__bottom
		padding: 2.3rem 3rem 2.6rem
		text-align: center
		+r($sm)
			padding: 2rem 1.3rem 3rem
	.title
		color: #fff 
		text-align: left
	.btn
		margin-top: 2rem
		font-size: 1.6rem
		min-width: 20rem
		text-align: center
		+r($xxs)
			min-width: 20rem
			text-align: center

.info
	margin-bottom: 1.6rem
	color: #fff
	font-size: 1.4rem
	line-height: 1.7
	+reg 
	&:last-child
		margin-bottom: 0
	&__name
		+bold
		font-size: 1.6rem
		text-transform: uppercase
	a
		color: #FFF
		border-bottom: 1px solid rgba(#fff,.7)
		transition: border .2s
		line-height: 1
		&:hover
			border-color: transparent 


.gallery
	position: relative
	+r($sm)
		margin-bottom: -2rem
	.row
		> div
			+r($sm)
				padding: 0 5px 
.image
	display: block
	position: relative
	margin: 1rem 0
	padding: 33% 0 
	width: 100%
	overflow: hidden
	+r($sm)
		margin: .5rem 0
	&:before,
	&:after
		position: absolute
		opacity: 0
		visibility: hidden
		transition: opacity .3s
	&:before
		content: $icon-plus
		+icon
		font-size: 6.5rem
		color: #FFF
		top: 50%
		left: 50%
		margin: -3.25rem 0 0 -3.25rem
		z-index: 2
	&:after
		content: ""
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 1
		background: $second 
	&:hover
		&:before
			visibility: visible
			opacity: 1
		&:after
			visibility: visible
			opacity: 0.9
	img
		width: 100%
		height: auto 
	&__in
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
.fancybox-overlay
	background: rgba(#000,.5) 
.fancybox-skin
	padding: 0 !important
.fancybox-next
	position: absolute
	right: 0
	width: 30%
	top: 0
	bottom: 0
	&:before
		content: $icon-next
		font-size: 2.4rem
		+icon
		color: $second
		position: absolute
		top: 50%
		margin-top: -1.2rem
		right: 1rem 
		transition: color .3s
	&:hover
		&:before
			color: $btn-hover
.fancybox-prev
	position: absolute
	left: 0
	top: 0
	bottom: 0
	width: 30%
	&:before
		content: $icon-prev
		font-size: 2.4rem
		+icon
		color: $second
		position: absolute
		top: 50%
		margin-top: -1.2rem
		left: 1rem
		transition: color .3s
	&:hover
		&:before
			color: $btn-hover
.fancybox-close
	position: absolute
	top: 1rem
	right: 1rem
	&:before
		content: $icon-close
		+icon
		font-size: 2.4rem
		color: $second
		transition: color .3s
	&:hover
		&:before
			color: $btn-hover 


		
