.sidebar
	position: fixed
	top: 0
	bottom: 0
	left: 0
	padding: 2rem 2.8rem 13rem
	width: 26rem
	transform: translateX(-26rem)
	+tr(transform .3s)
	background: #626979 
	overflow-y: auto
	&__footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 2rem 2.8rem 
	&__nav
		margin: 0 -2.8rem 
		li
			margin-bottom: 0.5rem
			
		a
			display: block
			padding: 1rem 2.8rem 
			font-size: 1.8rem
			+bold
			color: #fff 
			&.is-active
				color: $second 
	.logo
		margin: 0 0 3.7rem 
		img
			width: 16rem
			height: auto
	.tel
		margin-bottom: 1.5rem