$title: #515764
$main: #5489f1
$second: #ffc000
$text: #878787
$btn-hover: #54c9ff
$light: #f2f2f2
$lg: 1100
$md: 1023
$sm: 767
$xs: 480
$xxs: 360


=circle
	border-radius: 50% 

=pt-sans
	font-family: 'PT Sans', sans-serif
=pt-reg
	font-weight: 400
=pt-bold
	font-weight: 700  
	
+font(museosans300, museosans300)
=reg
	font-family: "museosans300", Arial, sans-serif
	
+font(museosans900, museosans900)
=bold
	font-family: "museosans900", Arial, sans-serif
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale