@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-sepa: "\EA01"
$icon-skrill: "\EA02"
$icon-house: "\EA03"
$icon-flats: "\EA04"
$icon-key: "\EA05"
$icon-quality: "\EA06"
$icon-next: "\EA07"
$icon-prev: "\EA08"
$icon-loc: "\EA09"
$icon-plus: "\EA0A"
$icon-close: "\EA0B"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-sepa:before
	content: $icon-sepa
.icon-skrill:before
	content: $icon-skrill
.icon-house:before
	content: $icon-house
.icon-flats:before
	content: $icon-flats
.icon-key:before
	content: $icon-key
.icon-quality:before
	content: $icon-quality
.icon-next:before
	content: $icon-next
.icon-prev:before
	content: $icon-prev
.icon-loc:before
	content: $icon-loc
.icon-plus:before
	content: $icon-plus
.icon-close:before
	content: $icon-close