<header class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<nav class="header__nav js-nav">
					<a href="#about">О нас</a> 
					<!-- <a href="#benefits">Преимущества</a>  -->           
					<a href="#objects">Объекты</a>        
					<a href="#special-offers">Специальные предложения</a>   
					<a href="#photogallery">Фотогалерея</a>
					<a href="#contacts">Контакты</a>
				</nav>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="header__info">
					<a href="#" class="btn">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
					<div class="tel">
						<span>Отдел продаж</span>
						<a href="tel:+70954434444">+7 095 443-44-44</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn-nav js-toggle" data-toggle=".js-sidebar" data-body-class="is-open-sidebar" type="button"><i></i></button>
	
</header>