<div class="sidebar js-sidebar">
	<div class="logo">
		<img src="img/logo.png" alt="Мастерстрой" width="203">
		Мастерстрой
	</div>
	<ul class="sidebar__nav js-nav">
		<li><a href="#about">О нас</a></li>
		<!-- <li><a href="#">Преимущества</a></li> -->
		<li><a href="#objects">Объекты</a></li>
		<li><a href="#special-offers">Спецпредложения</a></li>
		<li><a href="#photogallery">Фотогалерея</a></li>
		<li><a href="#contacts">Контакты</a></li>
	</ul>
	<div class="sidebar__footer">
		<div class="tel">
			<span>Отдел продаж</span>
			<a href="tel:+70954434444">+7 095 443-44-44</a>
		</div>
		<a href="#" class="btn btn_fluid">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
	</div>
</div>